*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html.body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    
}
.back{
    width: 100%;
    height: 100vh;
}
.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;   
}
.workingarea{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    max-width: 1920px;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
}
.nav img{
    height: 80px;
}
.nleft{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nright{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: "gilroy" ;
}
.hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;  

}
.heroleft{
    min-width: 50%;
}
.elem{
    margin-top: 2.8vh;
    height: 5.9vw;
    position: relative;
    overflow: hidden;
    
}
h1:nth-child(1){
    top: 0;
}
h1{
    position: absolute;
    line-height: 0.8;
    top: 100%;
    left: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 5.5vw;
}
button{
    pointer-events: all;
    padding: 0.5vw 1vw;
    font-size: 2vw;
    margin-top: 3vw;
    font-family: "kajiro";

}
.heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    color: #fff;
}
p{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
}
.imagediv{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.heroright p:nth-child(3){
    margin-bottom: 100px;
}
.second{
    width: 100%;
    height: 100vh;
}
  body {
    background-color: #121317;
  }
  .wrapper {
    position: relative;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
  }
  .container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #18f98f;
  }
  i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  .zest{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    height: 10%;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }





